# Add the environment variables for auth tokens needed

export WORK_MACHINE_SETUP=

# AWS + Node stuff

export NPM_PRIV_REG_TOKEN=
export AWS_WORK_SSO_URL=
export AWS_WORK_ROLE=
export AWS_WORK_MAIN_ACCOUNT_ID=
export AWS_WORK_SPT_ACCOUNT_ID=
export AWS_WORK_SPP_ACCOUNT_ID=

# Maven stuff
export MVN_ORG_REGISTRY_USER=
export MVN_ORG_REGISTRY_PASS=
export MVN_ORG_REGISTRY_URL=
export MVN_ORG_SWECO_REGISTRY_URL=
