# Add the environment variables for auth tokens needed

export WORK_MACHINE_SETUP=
export WORK_CONF_BASE_PATH=

# Node auth tokens for private registries
export NPM_PRIV_REG_TOKEN=

# AWS SSO configuration
export AWS_SSO_URL=

# All the AWS roles which can be assumed
export AWS_PRIMARY_ROLE=
export AWS_ADMIN_ROLE=
export AWS_READ_ROLE=
export AWS_COST_ROLE=

# Set active role for AWS
export AWS_ACTIVE_ROLE=

# All the AWS account IDs
export AWS_MAIN_ACCOUNT_ID=
export AWS_PROD_ACCOUNT_ID=
export AWS_DEV_ACCOUNT_ID=
export AWS_TEST_ACCOUNT_ID=
export AWS_SPT_ACCOUNT_ID=
export AWS_SPP_ACCOUNT_ID=

# Kubernetes stuff
export K8S_MAIN_NAMESPACE=

# Maven stuff
export MVN_ORG_REGISTRY_USER=
export MVN_ORG_REGISTRY_PASS=
export MVN_ORG_REGISTRY_URL=
export MVN_ORG_SWECO_REGISTRY_URL=
