# Files to be ignored
auth-env
core/.stow-local-ignore
work/core/.stow-local-ignore
work/core/.m2/wrapper/

# Directories to be ignored
temp/
work-dir/
fonts/

# Mac specific files to be ignored
.DS_Store

# Editor directories
.vscode/
.idea/
