# Files to be ignored
auth-env
auth-env.shrc
core/.stow-local-ignore
work/core/.stow-local-ignore
work/core/.m2/wrapper/
work/core/.m2/repository/

# Directories to be ignored
temp/
work-dir/
fonts/
core/.config/raycast

# Mac specific files to be ignored
.DS_Store
**/.stow-local-ignore

# Editor directories
.vscode/
.idea/
