# Files to be ignored

# Directories to be ignored
temp/**
fonts/**
brew/*.lock
stow/.config/**

# Add all the stow configuration you need to keep
!stow/.config/git/**
!stow/.config/neofetch/**

# Mac specific files to be ignored
.DS_Store

