[user]
  name = Anadi Nema
  email = anadi.nema@outlook.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAKC+JTnQz+9pU17OSzFn78FBmGyTTBQSrOK/Ilirung

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true
