[user]
  name = Anadi Nema
  email = anadi.nema@postnord.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGsL4rR7giuFvs4PioTjqf7FZfeRSqXFs5ZueYI5qb/m

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true

[core]
  # avoid problems when changing a case of a filename
  autocrlf = input
  ignorecase = false
  excludesfile = ~/.config/git/ignore

[status]
    # Show untracked files, directories and files in untracked directorie
  showUntrackedFiles = all

[interactive]
  diffFilter = delta --color-only

[pull]
  # Keep local commits on top of the tree
  rebase = true

[merge]
  conflictstyle = zdiff3

[rebase]
  # Stash and pop uncommitted changes on rebase
  autoStash = true

# Maintain a 1-1 mapping to upstream refs and tags
[fetch]
  prune = true
  pruneTags = true

[diff]
  colorMoved = default

[help]
  autocorrect = 1

[delta]
  navigate = true  # use n and N to move between diff sections
  light = false
  side-by-side = true

[init]
  defaultBranch = main

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
