[default]
sso_session = aws-work
sso_account_id = ${AWS_WORK_ACCOUNT_ID}
sso_role_name = ${AWS_WORK_ROLE}
region = eu-west-1

[sso-session aws-work]
sso_start_url = ${AWS_WORK_SSO_URL}
sso_region = eu-west-1
sso_registration_scopes = sso:account:access
