
# ---- Ignore everything, except for stuff listed below ----

*
!*/
tmux/plugins/
!.gitignore


# ---- Keep all the .toml files for various tools ----

!1Password/ssh/agent.toml
!starship/starship.toml
!spotify-player/app.toml
!mise/config.toml


# ---- Keep all the .yml/.yaml files for various tools ----

!gh/config.yml
!k9s/skins/*.yaml
!k9s/aliases.yaml
!k9s/config.yaml
!claws/config.yaml


# ---- Keep all the .conf/config/.config/.json/static files for various tools ----

!ghostty/config
!ghostty/defaults.config
!git/ignore
!tmux/tmux.conf
!zed/settings.json
!zed/keymap.json
